<h2 mat-dialog-title>Edit Details</h2>
<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Age" formControlName="age" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="City" formControlName="city" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Address" formControlName="address" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput placeholder="Pincode" formControlName="pincode" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
  <button mat-raised-button cdkFocusInitial (click)="onSave()">Save</button>
</mat-dialog-actions>
